@mixin color-theme($l, $c, $h, $name) {
	&.#{$name},
	& .#{$name} {
		--acent-color: oklch(#{$l} #{$c} #{$h});
		--acent-gray: oklch(#{$l} #{$c} #{$h} / 0.65);
	}
}

@mixin light-theme() {
	--text-color: oklch(0% 0 0);
	--text-gray: oklch(0% 0 0 / 0.5);

	--link-color: oklch(60% 0.15 243.53);
	--visited-color: oklch(60% 0.2 300);

	--dark-background: oklch(100% 0 0);
	--normal-background: oklch(100% 0 0);
	--light-background: oklch(95% 0 0);
	--tooltip-background: oklch(100% 0 0 / 0.7);
	--hr-background: oklch(0% 0 0 / 0.15);
	--glow-color: oklch(20% 0 0 / 0.4);

	$l: 60%;
	$c: 0.2;

	--acent-color: oklch(#{$l} 0 0);
	--acent-gray: oklch(#{$l} 0 0 / 0.65);

	@include color-theme($l, 0, 0, "gray");
	@include color-theme($l, $c, 30, "red");
	@include color-theme($l + 5%, $c, 60, "orange");
	@include color-theme($l + 15%, $c, 70, "orange-yellow");
	@include color-theme($l + 20%, $c, 90, "yellow");
	@include color-theme($l, $c, 135, "green");
	@include color-theme($l, $c, 245, "blue");
	@include color-theme($l, $c, 290, "purple");
	@include color-theme($l, $c, 335, "pink");
}

@mixin dark-theme() {
	--text-color: oklch(100% 0 0);
	--text-gray: oklch(100% 0 0 / 0.5);

	--link-color: oklch(77% 0.12 243);
	--visited-color: oklch(77% 0.12 300);

	--dark-background: oklch(16% 0 0);
	--normal-background: oklch(20% 0 0);
	--light-background: oklch(25% 0 0);
	--tooltip-background: oklch(25% 0 0 / 0.8);
	--hr-background: oklch(100% 0 0 / 0.15);
	--glow-color: oklch(80% 0 0 / 0.4);

	$l: 70%;
	$c: 0.2;

	--acent-color: oklch(#{$l} 0 0);
	--acent-gray: oklch(#{$l} 0 0 / 0.65);

	@include color-theme($l, 0, 0, "gray");
	@include color-theme($l, $c, 30, "red");
	@include color-theme($l, $c, 60, "orange");
	@include color-theme($l + 10%, $c, 70, "orange-yellow");
	@include color-theme($l + 14%, $c, 90, "yellow");
	@include color-theme($l, $c, 135, "green");
	@include color-theme($l, $c, 245, "blue");
	@include color-theme($l, $c, 290, "purple");
	@include color-theme($l, $c, 335, "pink");
}
